@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Open+Sans:wght@700&family=Raleway:wght@300;400;700&display=swap");
/* font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header {
  min-height: 60vh;
  height: 100%;
  width: 100%;
  background-image: url(./images/header.jpeg);
  background-size: cover;
  padding: 0px 15%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px 0;
  border-bottom: 0.1px solid rgb(110, 110, 110);
}

nav span {
  font-size: 11px;
  padding: 0 15px;
  cursor: pointer;
}

header nav img {
  width: 150px;
}

main {
  text-align: center;
  margin-top: 10%;
  padding: 0 15%;
  color: white;
}

main h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  padding-bottom: 10px;
}

main p {
  padding: 0 10px;
  font-weight: 300;
}

main button {
  padding: 10px 30px;
  margin-top: 50px;
  background-color: #e74546;
  color: white;
  border: none;
  cursor: pointer;
}

.first-section {
  padding: 50px 15%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.properties {
  text-align: center;
  width: 30%;
  font-size: 12px;
  padding: 20px 0;
}

.properties h4 {
  padding: 15px 0;
}

.properties p {
  font-weight: 300;
}

.second-section {
  display: flex;
  flex-wrap: wrap;
}

.work {
  width: 25%;
  height: 250px;
  position: relative;
}

.work img {
  width: 100%;
  height: 250px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.no-border {
  border-right: none !important;
}

.more-details {
  display: none;
}

.more-details h4 {
  padding: 5px 0;
}

.work:hover .more-details {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 250px;
  color: white;
  background: rgba(231, 69, 70, 0.9);
  font-size: 12px;
  text-align: center;
  padding-top: 100px;
}

.third-section {
  padding: 80px 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.third-section .person {
  width: 22%;
}

.person img {
  width: 100%;
}

.person h5 {
  font-size: 18px;
  font-weight: 400;
  padding-top: 20px;
}

.person span {
  color: #e74546;
  font-size: 12px;
}

.person p {
  padding: 20px 0;
  font-weight: 300;
  font-size: 14px;
}
.connect {
  display: flex;
}
.connect i {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  color: lightgray;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect i:hover {
  background-color: lightgray;
  color: gray;
}
.fourth-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.fourth-section .carousel-picture {
  min-height: 375px;
  width: 45%;
  background-image: url(./images/carousel-1.jpeg);
  background-size: cover;
  background-position: bottom;
}

.fourth-section .carousel {
  background-color: #523549;
  min-height: 375px;
  width: 55%;
}

.fourth-section .carousel i {
  color: #715b6b;
  padding: 2px;
}

.fourth-section .carousel .details {
  padding: 80px 320px 0 80px;
  display: flex;
  flex-direction: column;
}

.fourth-section .carousel .details h4 {
  text-align: left;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  font-family: "Cardo", serif;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.fourth-section .carousel .details p {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: white;
  margin-bottom: 40px;
}

.fourth-section .carousel .dots {
  padding-left: 10px;
  display: flex;
  justify-content: center;
}
.fifth-section {
  text-align: center;
}
.fifth-section h2 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}
.fifth-section p {
  font-size: 9.5px;
  font-weight: 700;
  margin-bottom: 20px;
}
.fifth-section button {
  padding: 10px 60px;
  background-color: #e74546;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 10px;
  margin-bottom: 60px;
}

@media screen and (max-width: 376px) {
  header {
    padding: 10px 20px;
    height: 100vh;
  }
  nav {
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 15px;
  }
  nav div {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav div span {
    padding: 5px;
  }
  main {
    padding: 0 20px;
  }
  main h2 {
    padding: 20px 0;
    font-size: 30px;
  }
  main p {
    font-size: 14px;
  }
  .first-section {
    padding: 30px 20px;
  }

  .properties {
    width: 45%;
  }
  .work {
    width: 50%;
    height: 150px;
  }
  .work img {
    height: 150px;
    width: 100%;
  }
  .work:hover .more-details {
    height: 150px;
    padding-top: 50px;
  }
  .no-border-mobile {
    border-right: none !important;
  }

  .third-section .person {
    width: 100%;
    margin-bottom: 30px;
  }
  .fourth-section {
    flex-direction: column;
  }
  .fourth-section .carousel-picture {
    width: 100%;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -45px;
  }
  .fourth-section .carousel {
    width: 100%;
  }
}
